<div class="page-header">
  <div class="container">
    <h5 class="mb-0">Administration</h5>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="list-group">
        <%= admin_menu_link Bird %>
        <%= admin_menu_link Club %>
        <%= admin_menu_link Trip %>
        <%= admin_menu_link User %>
      </div>
    </div>
  </div>
</div>
