<div class="page-header">
  <div class="container">
    <% if current_user.is_member_of?(@club) %>
      <%= link_to 'Member', club_membership_path(@club), class: 'btn btn-outline-success float-right' %>
    <% else %>
      <%= button_to 'Join', join_club_path(@club), class: 'btn btn-outline-primary float-right' %>
    <% end %>

    <h1><%= @club.display_name %></h1>

    <% if @club.has_short_name %>
      <p class="lead mb-0"><%= @club.name %></p>
    <% end %>
  </div>
</div>
