<div class="modal fade" id="roles-modal-<%= member.id %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="post" action="/">
        <div class="modal-header">
          <h3 class="modal-title">Edit roles</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="checkbox"
                name="roles[reporter]"
                <%= 'checked' if member.has_role?(@club, 'reporter') %>
              >
              Reporter
            </label>
            <small class="form-text text-muted">Reporters can moderate club reports</small>
          </p>
          <p class="mb-0">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="checkbox"
                name="roles[admin]"
                <%= 'checked' if member.has_role?(@club, 'admin') %>
              >
              Admin
            </label>
            <small class="form-text text-muted">Admins can manage club members</small>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      <form>
    </div>
  </div>
</div>
