<%= page_header "Editing #{@birding_session.to_s}" %>

<div class="container">
  <div class="row">
  <div class="col-4">
      <%= render 'form', birding_session: @birding_session %>
    </div>
  </div>
</div>
