<div class="page-header">
  <div class="container">
    <h5 class="mb-0">Editing <%= @bird_record.to_s %></h5>
  </div>
</div>

<div class="container">
  <div class="row">
  <div class="col-4">
      <%= render 'form', bird_record: @bird_record %>
    </div>
  </div>
</div>
