<%= simple_form_for(@photo, format: :json, html: { class: 'dropzone d-flex align-items-center justify-content-center flex-column p-4' }) do |f| %>
  <div class="icon">
    <%= fa_icon :camera %>
  </div>
  <div class="card-deck dz-previews"></div>
<% end %>
