<div class="mt-4 col-lg-6">
  <%= simple_form_for(@photo, format: :json, remote: true) do |f| %>
    <%= f.error_notification %>

    <%= f.input :image %>
    <%= f.button :submit %>
  <% end %>
</div>
