<div class="list-group">
  <% bird_records.each do |br| %>
    <div class="list-group-item d-flex justify-content-start align-items-center">
      <div class="bird-details">
        <% if br.count %>
          <span class="count"><%= br.count %> x </span>
        <% end %>
        <%= br.bird.common_name %>
        <% if br.notes %>
        <br />
        <small  class="text-muted text-truncated">
          <%= br.notes %>
        </small>
        <% end %>
      </div>
      <div class="time ml-auto">
        <small class="text-muted">
          <%= br.datetime.strftime '%l:%M %P' %>
        </small>
      </div>
    </div>
  <% end %>
</div>
