<div class="weather-card w-10 px-1 rounded d-flex justify-content-start align-items-center">
  <%= weather_icon weather.icon %>
  <span class="ml-1 text-lighter temperature">
    <%= weather.temperature.round -%><small class="degrees text-lighter">&deg;</small>
  </span>
</div>
