<%= page_header "Editing #{@club_membership.to_s}" %>

<div class="container">
  <div class="row">
  <div class="col-4">
      <%= render 'form', club_membership: @club_membership %>
    </div>
  </div>
</div>
