<div class="page-header">
  <div class="container">
    <h5 class="mb-0">New Club Membership</h5>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render 'form', club_membership: @club_membership %>
    </div>
  </div>
</div>
