.rarity-indicator {
  width: 16px;
  display: inline-block;
  text-align: center;
}

// Rare
.rarity-indicator-4 {
  color: #F39237;
  color: rarity-colors(rare);
}

// Mega
.rarity-indicator-5 {
  color: #D62828;
  color: rarity-colors(mega);
}
