// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.birding-session-map {
  height: 500px;
}

.bird-select {
  .card-header {
    border-bottom: 0;
  }

  button {
    cursor: pointer;
  }

  &.Select {
    width: 100%;
  }

  .Select-option.is-focused {
    background: theme-color('primary');
    color: white;
  }
}

.modal {
  .map {
    height: 300px;
  }
}

.bird-modal {
  button {
    cursor: pointer;
  }
}

.full-width-map {
  width: 100%;
  background: $gray-200;
  position: relative;

  .user-overlay {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}
