$datepicker-primary-color: theme-color('primary');

.input-group.flatpickr .form-control:not(:first-child):not(:last-child) {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.flatpickr-input[readonly] {
  background-color: white;
}

.flatpickr-month, .flatpickr-weekdays {
  color: white;
  background-color: $datepicker-primary-color;
}

.flatpickr-prev-month, .flatpickr-next-month {
  color: white;
  fill: white;
}

.flatpickr-prev-month:hover svg, .flatpickr-next-month:hover svg {
  fill: theme-color('secondary');
}

.flatpickr-calendar.arrowTop:before {
  border-bottom-color: rgba(72,72,72,0.2);
}

.flatpickr-calendar.arrowTop:after {
  border-bottom-color: $datepicker-primary-color;
}

.flatpickr-calendar.noCalendar.arrowTop:before {
  border-bottom-color: white;
}

.flatpickr-calendar.noCalendar.arrowTop:after {
  border-bottom-color: white;
}

.flatpickr-day {
  &.selected {
    background-color: $datepicker-primary-color;
    border-color: $datepicker-primary-color;

    &:hover {
      background-color: $datepicker-primary-color;
      border-color: $datepicker-primary-color;
    }
  }
}
