html, body {
  height: 100%;
}

.gradient-primary {
  @include gradient-y(theme-color("primary"), darken(theme-color("primary"), 7%));
}

.page-wrap {
  min-height: 100%;
}

.card-rounded {
  border-radius: 3 * $border-radius;
}

.card-square {
  border-radius: 0;
}

.logo-white {
  path {
    fill: white;
    color: white;
  }
}

.dropdown-menu-account {
  right: 8px;
  top: 61px;
  width: 240px;
  left: auto;

  a.dropdown-item {
    color: theme-color("primary");
  }
}
