html.full-height, html.full-height body {
  height: 100%;
  padding: 0
}

body {
  padding-bottom: 125px;
}

.gradient-primary {
  @include gradient-directional(theme-color("primary"), darken(theme-color("primary"), 10%), -45deg);
}

.page-wrap {
  min-height: 100%;
}

.card-rounded {
  border-radius: 3 * $border-radius;
}

.card-square {
  border-radius: 0;
}

.logo-white {
  path {
    fill: white;
    color: white;
  }
}

.dropdown-menu-account {
  right: 8px;
  top: 62px;
  width: 240px;
  left: auto;

  a.dropdown-item {
    color: theme-color("primary");
  }
}

.nav-block-link {
  display: block;
  &:hover {
    text-decoration: none;
    color: theme-color("primary");
    background-color: theme-color("light");
  }
}

.white-border {
  border: 1px solid white;
}
