.photo-upload {
  border: 1px solid theme-color('primary');
  border-style: dashed;
  color: theme-color('primary');
  border-radius: $border-radius;
  cursor: pointer;

  span {
    font-size: 1.2rem;
  }

  small {
    color: $body-color;
  }

  .icon {
    font-size: 3rem;
  }

  &:hover, &.dz-drag-hover {
    border-style: solid;
  }
}

.dz-preview {
  position: relative;
  img {
    opacity: 0.15;
  }
  &.dz-complete {
    img {
      opacity: 1;
    }
  }
}

.dz-upload {
  position: absolute;
  bottom: 1px;
  left: $grid-gutter-width / 2;
  right: $grid-gutter-width / 2;

  border-top-left-radius: 0;
  border-top-right-radius: 0;

  .progress-bar {
    height: 5px;
  }
}

.dz-complete {
  .dz-upload {
    display: none;
  }
}
