<div class="page-header">
  <div class="container">
    <h5 class="mb-0">Editing <%= @user.to_s %></h5>
  </div>
</div>

<div class="container">
  <div class="row">
  <div class="col-4">
      <%= render 'form', user: @user %>
    </div>
  </div>
</div>
