<div class="page-header">
  <div class="container">
    <h5 class="mb-0">New Localized Bird</h5>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render 'form', localized_bird: @localized_bird %>
    </div>
  </div>
</div>
